<template>
  <div class="tasksList">
    <p class="taskList__heading">
      <span class="taskList__heading--dark">Tasks</span>
      List
    </p>
    <AddTodo />
    <div class="tasks" v-if="tasks.length">
      <TasksCards
        v-for="task of tasks"
        v-bind:task="task"
        v-bind:key="task.id"
        v-on:remove-task="removeTaskModal"
      />
    </div>
    <div class="notasks" v-else>
      <h5>Time to add your tasks</h5>
    </div>
    <Modal
      v-bind:modalStatus="modalStatus"
      v-bind:modalTitle="modalTitle"
      v-bind:modalData="modalData"
      v-on:closeModal="closeModal"
      v-on:taskAction="taskAction"
    />
  </div>
</template>

<script>
import AddTodo from "@/components/AddTodo.vue";
import TasksCards from "@/components/TasksCards.vue";
import Modal from "@/components/Modal.vue";

export default {
  name: "Tasks",
  components: {
    AddTodo,
    TasksCards,
    Modal
  },
  data: function() {
    return {
      tasks: [
        {
          id: 1,
          title: "Shop",
          todos: [
            {
              id: 1,
              title: "Buy apples",
              completed: false
            },
            {
              id: 2,
              title: "Buy melon",
              completed: true
            }
          ]
        }
      ],
      modalStatus: false,
      modalTitle: "",
      modalData: "",
      modalAction: ""
    };
  },
  methods: {
    removeTaskModal(id) {
      this.modalTitle = "Do you want to delete this task?";
      this.modalData = {
        id: id
      };
      this.modalStatus = true;
      this.modalAction = "delete";
    },
    taskAction(data) {
      switch (this.modalAction) {
        case "delete":
          this.tasks = this.tasks.filter(task => task.id !== data.id);
          this.modalStatus = false;
          this.modalAction = "";
          this.modalData = "";
          break;
        default:
          return;
      }
    },
    closeModal() {
      this.modalTitle = "";
      this.modalStatus = false;
      this.modalAction = "";
    }
  }
};
</script>

<style>
.tasksList {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskList__heading {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: lightgrey;
  font-weight: bold;
}
.taskList__heading--dark {
  color: black;
}
.tasks {
  width: 100%;
  max-width: 600px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding-bottom: 15px;
}
.tasks::-webkit-scrollbar {
  border: none;
  background: lightgrey;
  border-radius: 10px;
}
.tasks::-webkit-scrollbar-button {
  display: none;
}
.tasks::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.notasks {
  font-family: "Roboto", sans-serif;
}
</style>
