<template>
  <div class="addtodo">
    <button class="addtodo__button">&plus;</button>
    <p class="addtodo__text">Add List</p>
  </div>
</template>

<style>
.addtodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 25px 0;
}
.addtodo__button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: lightgrey;
  background: none;
  border: 1px solid lightgrey;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
}
.addtodo__button:focus {
  outline: none;
}
.addtodo__button:hover {
  color: grey;
  border: 1px solid grey;
}
.addtodo__text {
  color: grey;
}
</style>
