<template>
  <div
    class="modal__overlay"
    v-bind:class="{ show: modalStatus }"
    v-on:click.self="$emit('closeModal')"
  >
    <div class="modal__body" v-on:click.stop>
      <div class="modal__title">{{ modalTitle }}</div>
      <div class="modal__buttons">
        <button class="modal__button" v-on:click="$emit('closeModal')">
          No
        </button>
        <button
          class="modal__button"
          v-on:click="$emit('taskAction', modalData)"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: ["modalStatus", "modalTitle", "modalData", "taskAction"]
};
</script>

<style>
.modal__overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}
.modal__overlay.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__body {
  font-family: "Roboto", sans-serif;
  width: 80vw;
  height: 40vh;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  text-align: center;
  animation-name: modal;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
.modal__buttons {
  display: flex;
}
.modal__button {
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  outline: none;
  margin: 10px;
  color: white;
  border-radius: 15px;
}
.modal__button:first-child {
  background: #e13535;
}
.modal__button:last-child {
  background: #9cd231;
}

@keyframes modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
</style>
