<template>
  <div class="tasks__card">
    <h5 class="tasks__card--heading">{{ this.task.title }}</h5>
    <hr class="tasks__card--line" />
    <div class="tasks__items">
      <ul class="tasks__items--list">
        <TasksItem
          v-for="todo of todosLimited"
          v-bind:todoText="todo.title"
          v-bind:completed="todo.completed"
          v-bind:key="todo.id"
        />
      </ul>
    </div>
    <button class="tasks__card--delete" v-on:click="$emit('remove-task', task.id)">
      Delete
    </button>
  </div>
</template>

<script>
import TasksItem from "@/components/TasksItem.vue";

export default {
  name: "TasksCards",
  props: ["task"],
  components: {
    TasksItem
  },
  computed: {
    todosLimited() {
      return this.task.todos.slice(0, 3);
    }
  }
};
</script>

<style>
.tasks__card {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 200px;
  max-width: 200px;
  margin-right: 15px;
  border-radius: 15px;
  color: white;
}
.tasks__card:nth-child(1n) {
  background: #3a2b86;
}
.tasks__card:nth-child(2n) {
  background: #e13535;
}
.tasks__card:nth-child(3n) {
  background: #d5b58e;
}
.tasks__card--heading {
  padding: 50px 0 25px 20%;
  margin: 0;
}
.tasks__card--line {
  width: 80%;
  margin: 0 0 0 auto;
  border-radius: 15px;
}
.tasks__items--list {
  list-style: none;
  padding: 10px 0;
  font-size: 16px;
  max-width: 150px;
  margin: 0 15px 0 20%;
  overflow: hidden;
}
.tasks__card--delete {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 150px;
  max-width: 150px;
  outline: none;
  padding: 10px;
  align-self: center;
  margin: auto 0 15px 0;
  text-align: center;
  background: transparent;
  color: white;
  border-radius: 15px;
  transition: 0.2s;
}
.tasks__card--delete:focus {
  outline: none;
}
.tasks__card--delete:hover {
  background: white;
  color: black;
}
</style>
