<template>
  <li class="tasks__items--item" v-bind:class="{ completed: this.completed }">
    <span class="tasks__items--checkbox" />
    <p class="tasks__items--title">{{ this.todoText }}</p>
  </li>
</template>

<script>
export default {
  name: "TasksItem",
  props: ["todoText", "completed"]
};
</script>

<style>
.tasks__items--item {
  display: flex;
  align-items: center;
}
.tasks__items--item.completed > span {
  display: none;
}

.tasks__items--item.completed > p:before,
.tasks__items--item.completed > p {
  padding-left: unset;
  content: "\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}

.tasks__items--checkbox {
  min-width: 10px;
  min-height: 10px;
  border: 1px solid white;
  border-radius: 100%;
}
.tasks__items--title {
  padding-left: 10px;
  text-align: center;
  white-space: nowrap;
}
</style>
