<template>
  <div id="app">
    <section class="content">
      <router-view />
    </section>
  </div>
</template>

<style>
#app,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .content {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  .content {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .content {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px){
  .content {
    padding: 0 calc(50% - 590px);
  }
}
</style>
